.SliderWrap{
    max-width: 1150px !important;
    width: 94% !important;
    margin: auto;
    padding: 5rem 0;
    /* background-color: rgb(255, 171, 171); */
}

.slide img{
    width: 130px;
    height: 80px;
    margin-top: 2rem;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: black !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



  
  
  
  
  
  .SwiperSlide {
    padding: 0 1.5rem;
    align-items: center !important;
    /* background-color: rgb(255, 0, 0); */
  }
  
/*   
  .SwiperSlide img {
    width: 70%;
    height: 80%;
    margin: auto;
    padding-top: 5px;
  }
  
   */
  
  
  